.textboxes {
  display: block;
  margin-top: .8rem;
  min-height: 190px;
  .digits {
    font-family: $numeralFont;
    font-size: 6rem;
  }
  .words {
    font-family: $wordFont;
    font-size: $wordFontSize;
    .unbreakable {
      display: inline-block;
    }
  }
}