@import url("https://fonts.googleapis.com/css?family=Marvel:700");
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
/* Debug colors */
html {
  font-size: 20px;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  color: #222;
  min-height: 100%; }

.app-outer-wrap {
  max-width: 600px;
  margin: 0 auto;
  opacity: 1;
  transition: opacity .4s; }
  .app-outer-wrap.waiting {
    opacity: 0 !important; }
  .app-outer-wrap .good-times {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column; }
    .app-outer-wrap .good-times .clock-holder {
      width: 80%;
      display: block;
      max-width: 20rem;
      margin: 0 auto;
      opacity: 1;
      transition: opacity .4s; }
    .app-outer-wrap .good-times .textboxes {
      display: block;
      margin-top: .3rem;
      min-height: 190px; }
      .app-outer-wrap .good-times .textboxes .digits {
        font-family: "Marvel";
        font-size: 6rem; }
      .app-outer-wrap .good-times .textboxes .words {
        font-family: "Ropa Sans";
        font-size: 2.2rem; }
        .app-outer-wrap .good-times .textboxes .words .unbreakable {
          display: inline-block; }

.clock-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  background: #222;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .clock-container.styling {
    box-shadow: 0px 0px 10px #888888;
    border-radius: 50%;
    min-width: 100px;
    margin-top: 1%; }
  .clock-container:before {
    content: "";
    display: block;
    padding-top: 100%; }

.clock-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: opacity .4s; }

@-moz-document url-prefix() {
  .clock-content.waiting {
    opacity: 0 !important; } }
  .clock-content .background-numbers {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    z-index: 1; }
    .clock-content .background-numbers .numbers {
      fill: #fff; }
  .clock-content .indicator {
    border-radius: 10px;
    transform-origin: bottom;
    outline: 1px solid transparent;
    position: absolute;
    bottom: 50%; }
    .clock-content .indicator.seconds-indicator {
      width: 0.5%;
      height: 35%;
      z-index: 2;
      background-color: #dfc48c; }
    .clock-content .indicator.minutes-indicator {
      width: 1%;
      height: 30%;
      z-index: 3;
      background-color: #cd6a51; }
    .clock-content .indicator.hours-indicator {
      width: 1.5%;
      height: 22.5%;
      z-index: 4;
      background-color: #8f9c6c; }
  .clock-content .indicator-cover {
    position: absolute;
    bottom: 48.5%;
    /*(50% - (3% /2)) */
    border-radius: 50%;
    width: 3%;
    height: 3%;
    background-color: lightgrey;
    z-index: 5; }

/* ###################### Media Queries ###################### */
/* ########## iPhone 5 ########## */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .good-times {
    width: 100% !important;
    margin-top: 5px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

/* ########## iPhone 4 ########## */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  .good-times {
    margin-top: 5px !important;
    width: 80% !important; }
    .good-times .textboxes .digits {
      font-size: 4.5rem !important; }
    .good-times .textboxes .words {
      font-size: 2rem !important; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {
  .good-times .textboxes {
    margin-top: -20px !important; } }

/* ########### Landscape ( general ) ############### */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .good-times {
    margin-top: -10px;
    width: 100%;
    flex-direction: row !important;
    justify-content: flex-start !important; }
    .good-times .clock-holder {
      margin: 0 !important;
      display: inline-block !important;
      width: 50% !important; }
    .good-times .textboxes {
      width: 45%;
      display: inline-block; } }
